<div class="author-book">
	<div class="book-info-block">
		<div class="author-book-image">
			<img src="https://api.fnkr.net/testimg/165x240/dddddd/FFF/?text=book+image">
		</div>
		<div class="book-info-wrapper">
			<div class="book-info">
				<p class="author-book-title">
					<a href="#">Кабала</a>
				</p>
				<p class="author-book-author">
					Автор: Потемкин Александр Петрович
				</p>
				<p class="author-book-publisher">
					Издательство: ПоРог, 2011
				</p>
				<p class="author-book-editor">
					Редактор: Сагалова Виктория
				</p>
				<p class="additional"><i class="icon-prointellekt icon-contents"></i> <a href="#">Содержание</a></p>
				<p class="additional"><i class="icon-prointellekt icon-signature-pen"></i> <a href="#">Получить книгу с автографом автора</a></p>
			</div>
			<div class="book-description">	
				<p class="author-book-description">
					Дискуссии о судьбе русского романа все более начинают напоминать сакраментальный спор о том, кто (или что?) родился раньше – яйцо или курица? То ли критики интуитивно и верно нащупывают новые литературные тенденции развития самого почетного жанра нашей словесности в информационно-цифровую эпоху. То ли сперва начал видоизменяться сам роман – в своих первых, еще несовершенных опытах – а прозорливые зоилы, подобно…
				</p>
				<a class="author-book-details" href="#">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="shop-block-wrapper">
		<div class="shop-block">
			<ul class="tabList" role="tablist">
				<li class="active"><a class="paper" href="#paper" role="tab" data-toggle="tab"><i class="icon-prointellekt icon-paper-book"></i></a></li>
				<li><a class="electronic" href="#electronic" role="tab" data-toggle="tab"><i class="icon-prointellekt icon-e-book"></i></a></li>
			</ul>
			<div class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="paper">
			    	<p>Купить бумажную книгу в магазинах:</p>
			    	<div class="shop-list">
						<a href="#">
							<img src="/img/biblio-globus.png" style="width: 172px; height: 38px;">
						</a>
						<a href="#">
							<img src="/img/mdk.png" style="width: 219px; height: 25px;">
						</a>
						<a href="#">
							<img src="/img/ozon.png" style="width: 120px; height: 27px;">
						</a>
						<a href="#">
							<img src="/img/litres.png" style="width: 85px; height: 53px;">
						</a>
						<a href="#">
							<img src="/img/gnozis.png" style="width: 97px; height: 38px;">
						</a>
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="electronic">
			    	<p>Купить электронную книгу в магазинах:</p>
			    	<div class="shop-list">
						<a href="#">
							<img src="/img/ozon.png" style="width: 120px; height: 27px;">
						</a>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>