<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-xs-12 news-body">
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						Сегодня
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-1.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-2.html
					</div>
				</div>
			</div>
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						Вчера
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-3.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-4.html
					</div>
				</div>
			</div>
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						7 июня
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-5.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-1.html
					</div>
				</div>
			</div>
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						5 июня
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-2.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-3.html
					</div>
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-4.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-5.html
					</div>
				</div>
			</div>

			<div class="text-center showmore">
				<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
				<nav>
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">
				        	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="21"><path fill="currentColor" d="M10.5 21l2.5-2.6-8-8 8-7.8L10.5 0 0 10.5l3 3"/></svg>
				        </span>
				      </a>
				    </li>
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">
				        	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="21"><path fill="currentColor" d="M2.5 0L0 2.6l8 8-8 7.8L2.5 21 13 10.5l-3-3"/></svg>
				        </span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>