<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-xs-12 news-body page-body">
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						Сегодня
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-1.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-2.html
					</div>
				</div>
			</div>
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						Вчера
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-3.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-4.html
					</div>
				</div>
			</div>
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						7 июня
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-5.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-1.html
					</div>
				</div>
			</div>
			<div class="container full-sm">
				<div class="blockquote-wrapper">
					<blockquote>
						5 июня
					</blockquote>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-2.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-3.html
					</div>
					<div class="col-sm-6 col-xs-12 odd-wrapper">
						//= ../articles/articleSmall-4.html
					</div>
					<div class="col-sm-6 col-xs-12 even-wrapper">
						//= ../articles/articleSmall-5.html
					</div>
				</div>
			</div>
			//= ../pagination.html
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>