<div class="container searchText-body">
	<div class="row">
		<div class="col-lg-8 col-xs-12">
			<div class="section-tag-list">
				<div class="tag-item">ТРЕТИЙ СРОК ПУТИНА</div>
				<div class="tag-item">ПУТИН – НАШЕ ВСЁ</div>
				<div class="tag-item">ПУТИН КРАСАВА</div>
			</div>
			<p class="result-title">Нашлось <strong>33</strong> статьи</p>
			<div class="search-input">
				<div class="search-item">
					<div class="title">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quisquam.
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nostrum sit quaerat inventore, nesciunt maiores eum neque dolores quisquam reprehenderit sapiente repudiandae debitis excepturi cumque blanditiis eos cum, quis officia.
					</div>
					<div class="info">
						<div class="section-tag-list">
							<div class="tag-item article">СТАТЬЯ</div>
						</div>
						<p class="date">МАРИЯ ФАЛИКМАН, 29 МАЯ В 12:16 <i class="fa fa-comment"></i> 13</p>
					</div>
				</div>
				<div class="search-item">
					<div class="title">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quisquam.
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nostrum sit quaerat inventore, nesciunt maiores eum neque dolores quisquam reprehenderit sapiente repudiandae debitis excepturi cumque blanditiis eos cum, quis officia.
					</div>
					<div class="info">
						<div class="section-tag-list">
							<div class="tag-item opinion">МНЕНИЕ</div>
						</div>
						<p class="date">МАРИЯ ФАЛИКМАН, 29 МАЯ В 12:16 <i class="fa fa-comment"></i> 13</p>
					</div>
				</div>
				<div class="search-item">
					<div class="title">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quisquam.
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nostrum sit quaerat inventore, nesciunt maiores eum neque dolores quisquam reprehenderit sapiente repudiandae debitis excepturi cumque blanditiis eos cum, quis officia.
					</div>
					<div class="info">
						<div class="section-tag-list">
							<div class="tag-item news">НОВОСТЬ</div>
						</div>
						<p class="date">МАРИЯ ФАЛИКМАН, 29 МАЯ В 12:16 <i class="fa fa-comment"></i> 13</p>
					</div>
				</div>
			</div>
			<div class="text-center showmore">
				<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
				<nav>
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			//= ../rightSiteBar.html
		</div>
	</div>
</div>