<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-sm-12 col-xs-12">
			<div class="container page-body">
				<div class="section-tag-list">
					<a href="#" class="tag-item">ТРЕТИЙ СРОК ПУТИНА</a>
					<a href="#" class="tag-item">ПУТИН – НАШЕ ВСЁ</a>
					<a href="#" class="tag-item">ПУТИН КРАСАВА</a>
				</div>
				<p class="result-title">Нашлось <strong>33</strong> статьи</p>
				<div class="search-input">
					<div class="search-item">
						<div class="title">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quisquam.
						</div>
						<div class="content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nostrum sit quaerat inventore, nesciunt <span class="find-text">Путин</span> eum neque dolores quisquam reprehenderit sapiente repudiandae debitis excepturi cumque blanditiis eos cum, quis officia.
						</div>
						<div class="info">
							<div class="section-tag-list">
								<a href="#" class="tag-item tag-article">СТАТЬЯ</a>
							</div>
							<p class="date">МАРИЯ ФАЛИКМАН, 29 МАЯ В 12:16 <i class="icon-prointellekt icon-comment"></i> 13</p>
						</div>
					</div>
					<div class="search-item">
						<div class="title">
							Lorem ipsum dolor sit amet, <span class="find-text">Путин</span> adipisicing elit. Unde, quisquam.
						</div>
						<div class="content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nostrum sit quaerat inventore, nesciunt maiores eum neque dolores quisquam reprehenderit sapiente repudiandae debitis excepturi cumque blanditiis eos cum, quis officia.
						</div>
						<div class="info">
							<div class="section-tag-list">
								<a href="#" class="tag-item tag-opinion">МНЕНИЕ</a>
							</div>
							<p class="date">МАРИЯ ФАЛИКМАН, 29 МАЯ В 12:16 <i class="icon-prointellekt icon-comment"></i> 13</p>
						</div>
					</div>
					<div class="search-item">
						<div class="title">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quisquam.
						</div>
						<div class="content">
							Lorem ipsum dolor <span class="find-text">Путину</span> amet, consectetur adipisicing elit. Ipsam nostrum sit quaerat inventore, nesciunt maiores eum neque dolores quisquam reprehenderit sapiente repudiandae debitis excepturi cumque blanditiis eos cum, quis officia.
						</div>
						<div class="info">
							<div class="section-tag-list">
								<a href="#" class="tag-item tag-news">НОВОСТЬ</a>
							</div>
							<p class="date">МАРИЯ ФАЛИКМАН, 29 МАЯ В 12:16 <i class="icon-prointellekt icon-comment"></i> 13</p>
						</div>
					</div>
				</div>
				//= ../pagination.html
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>