<div class="personal-material">
	<p class="personal-material-title">
		Байконур, ислам, нефть и бессмертие. Что обязательно знать про Казахстан
	</p>
	<p class="personal-material-body">
		... В казахстанском Актобе на днях прошли бои между неизвестными радикалами и военными, а власти страны заявили о предотвращении госпереворота. Точных деталей и причины произошедших событий узнать так и не удалось – как и понять, насколько соответствовали истине сообщения о готовившемся перевороте. Однако ...
	</p>
	<p class="personal-material-descirption">
		СЕГОДНЯ В 23:10 <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h15v10H0V0zm3 10h4l-4 3v-3z" fill="currentColor" fill-rule="evenodd"/></svg> 13
	</p>
</div>