<div class="personal-book">
	<div class="personal-book-image">
		<img src="https://api.fnkr.net/testimg/165x240/dddddd/FFF/?text=book+image">
	</div>
	<div class="book">
		<p class="personal-book-title">
			Тайна спящей царевны
		</p>
		<p class="personal-book-author">
			Автор: Скрягина Мария Александровна
		</p>
		<p class="personal-book-publisher">
			Издательство: ПоРог, 2011
		</p>
		<p class="personal-book-illustrator">
			Иллюстрации: Елена Ремпель
		</p>
		<p class="personal-book-description">
			Много транспорта оказалось на свалке истории, когда люди сумели освоить перемещение сквозь пространство, сумели пройти сами и перевести других, — некоторые люди, которые работают теперь в привилегированной корпорации. Прочим это уменье недоступно? 
		</p>
		<a class="personal-book-details" href="#">Подробнее</a>
	</div>
</div>