<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-xs-12">

			<div class="container page-body">
				<ul class="tabList" role="tablist">
					<li class="active"><a href="#conversaions" role="tab" data-toggle="tab">Обсуждения 13</a></li>
					<li><a href="#comments" role="tab" data-toggle="tab">Комментарии 33</a></li>
				</ul>
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane fade in active" id="conversaions">
						<div class="discussion-list">
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html

							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
						</div>
						//= ../pagination.html
				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="comments">
				    	<div class="personal-comment-list">
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
						</div>
						//= ../pagination.html
				    </div>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>