<div class="personal-material">
	<p class="personal-material-title">
		Байконур, ислам, нефть и бессмертие. Что обязательно знать про Казахстан
	</p>
	<p class="personal-material-body">
		... В казахстанском Актобе на днях прошли бои между неизвестными радикалами и военными, а власти страны заявили о предотвращении госпереворота. Точных деталей и причины произошедших событий узнать так и не удалось – как и понять, насколько соответствовали истине сообщения о готовившемся перевороте. Однако ...
	</p>
	<p class="personal-material-descirption">
		СЕГОДНЯ В 23:10 <i class="icon-prointellekt icon-comment"></i> 13
	</p>
</div>