<div class="personal-comment-item">
	<p class="personal-comment-date">Какие лучшие средства для развития памяти?</p>
	<p class="personal-comment-body">
		В «Изгое» описанию одного из таких капищ, ресторана «Белое солнце пустыни», отведена целая глава. Здесь под «шелест купюр и шуршание дорогих платьев» (с. 585) на первое место выходит уже безудержное чревоугодие, «вакханалия пира», не забывающая, правда, и о сексе. 
	</p>
	<p class="personal-comment-descirption">
		К статье <a href="#">ЗГОЙ – МАНИФЕСТ НОВОГО СОСЛОВИЯ?</a>
	</p>
</div>