<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-xs-12">
			<div class="container full-sm discussionList-body">
				<div class="title-section">
					<p class="title">Темы</p>
					<ul role="tablist">
						<li class="active"><a href="#relevant" role="tab" data-toggle="tab">Обсуждаемые</a></li>
						<li><a href="#new" role="tab" data-toggle="tab">Новые</a></li>
						<li><a href="#mine" role="tab" data-toggle="tab">Мои</a></li>
					</ul>
					<a href="#" class="btn-readmore">СОЗДАТЬ ОБСУЖДЕНИЕ</a>
				</div>
				<div class="tab-content">
				    <div role="tabpanel" class="fade in tab-pane active" id="relevant">
				    	<div class="discussion-list">
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html

							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html

							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
						</div>
				    </div>
				    <div role="tabpanel" class="fade tab-pane " id="new">
				    	<div class="discussion-list">
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html

							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html

							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
						</div>
				    </div>
				    <div role="tabpanel" class="fade tab-pane " id="mine">
						<div class="discussion-list">
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html

							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html

							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
							//= discussion-item.html
						</div>
				    </div>
				</div>
				
				//= ../pagination.html
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>