<div class="discussion-item-full">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-9">
			<a href="#" class="discussion-title">Какие лучшие средства для развития памяти?</a>
			<p class="discussion-author">АЛЕКСЕЙ, СЕГОДНЯ В 21:15</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<p class="discussion-comments"><i class="icon-prointellekt icon-comment"></i> 13</p>
			<p class="discussion-date"><i class="icon-prointellekt icon-refresh"></i> СЕГОДНЯ В 23:10</p>
		</div>
	</div>
</div>