<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-sm-12 col-xs-12">
			<div class="container discussionNew">
				<div class="discussionNew-form">
					<div class="wysiwyg-block">
						<div class="wysiwyg">
							<textarea class="js-cleditor"></textarea>
						</div>
						<a href="#" class="btn-readmore">ОПУБЛИКОВАТЬ</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				
			</div>
		</div>
	</div>
</div>