<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-sm-12 col-xs-12">
			<div class="container discussionNew">
				<div class="discussionNew-form form-wrapper">
					<div class="field-wrapper title">
						<p class="label">ЗАГОЛОВОК</p>
						<div class="input-wrapper">
							<input type="text">
						</div>
					</div>
					<div class="wysiwyg-block">
						<p class="label">Содержание</p>
						<div class="wysiwyg">
							<textarea class="js-cleditor"></textarea>
						</div>
						<a href="#" class="btn-readmore">ОПУБЛИКОВАТЬ</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				
			</div>
		</div>
	</div>
</div>