.searchTag-header{
	background: rgba(54, 188, 164, 0.3);
	padding: 145px 0 75px 0;
	text-transform : uppercase;
	color: #1d1d1d;
	.name{
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
	}
}