.page-body{
	overflow: hidden;
	@media (min-width: $screen-lg-min) {
		width: 100%;
		padding: 0;
	}
	.article{
		.lead{
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 10px;
			@media (min-width: $screen-sm-min) {

			}
			@media (min-width: $screen-md-min) {

			}
			@media (min-width: $screen-lg-min) {
				font-size: 24px;
				line-height: 32px;
			}
			color: #1d1d1d;
			font-weight: 600;
			font-style: italic;
		}

		p{
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 10px;
		}

		img{
			max-width: 100%;
			margin-bottom: 20px;
		}

		.subheader{
			font-size: 24px;
			line-height: 30px;
			margin: 0 0 5px 0;
			font-weight: bold;
		}
		blockquote{
			font-style: italic;
			font-weight: 600;
			font-size: 18px;
			line-height: 28px;
			margin: 25px 0;
			background: #eef2f5;
			padding: 10px 10px 15px 20px;
			border-left: 10px solid #45bdc9;
			@media (min-width: $screen-sm-min) {

			}
			@media (min-width: $screen-md-min) {

			}
			@media (min-width: $screen-lg-min) {
				font-size: 24px;
				line-height: 32px;
				padding: 25px 30px 25px 40px;
				margin-bottom: 25px;
			}
		}
	}
}