.common-header{
	background: #eef2f5;
	color: #1d1d1d;	
	min-height: 260px;
	padding: 115px 0 0px 0;
	&.list-header{
		padding: 145px 0 0px 0;
	}
	margin-bottom: 30px;

	&.book-header,
	&.review-header{
		background: #4f547f;
		color: #fff;
	}

	&.article-header{
		background: #a13a78;
		color: #fff;
	}

	&.opinion-header,
	&.discussion-header{
		background: #45bdc9;
		color: #fff;
	}

	&.news-header{
		background: #37bca5;
		color: #fff;
	}

	&.searchTag-header{
		background: rgba(54, 188, 164, 0.3);
		color: #1d1d1d;
	}

	.name{
		font-size: 24px;
		line-height: 30px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0 0 15px 0;
		@media (min-width: $screen-sm-min) {
			font-size: 36px;
			line-height: 36px;
		}
		@media (min-width: $screen-md-min) {
		}
		@media (min-width: $screen-lg-min) {
		}
	}

	.description{
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 15px;
		@media (min-width: $screen-sm-min) {
			margin-bottom: 35px;
			line-height: 22px;
			font-size: 18px;
		}
		@media (min-width: $screen-md-min) {
		}
		@media (min-width: $screen-lg-min) {
		}
	}
	
	.date,
	.author{
		text-transform : uppercase;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 1px;
		margin : 0 0 15px 0;
		@media (min-width: $screen-sm-min) {
			margin : 0 0 40px 0;
		}
		@media (min-width: $screen-md-min) {
		}
		@media (min-width: $screen-lg-min) {
			margin : 0 0 30px 0;
		}
	}
	
	svg,
	.fa{
		margin-left: 15px;
	}
}