<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-xs-12">
			<div class="container page-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod maxime nobis ipsam ipsum harum sed dicta, voluptates, omnis, alias optio blanditiis sequi sint, distinctio nemo itaque neque illo non. Ab repudiandae, doloribus cum voluptate porro, nemo libero ullam qui facilis, nostrum dolore, blanditiis vel corporis nulla repellat. Nam sequi repellendus voluptatem quod doloremque accusantium molestias vitae commodi, quam, sed aut dolore velit fugit nulla perferendis expedita delectus eos iste, dolor earum reiciendis debitis, quidem dolores provident! Aut perferendis fugit, sequi iusto temporibus sit eligendi, repellat natus dolorum, molestiae placeat dolorem soluta suscipit ab itaque expedita modi enim, distinctio asperiores ducimus.</p>
			</div>
			<div class="container page-body">
				<ul role="tablist">
					<li class="active"><a href="#articles" role="tab" data-toggle="tab">Материалы 10</a></li>
					<li><a href="#books" role="tab" data-toggle="tab">Книги 5</a></li>
					<li><a href="#conversaions" role="tab" data-toggle="tab">Обсуждения 13</a></li>
					<li><a href="#comments" role="tab" data-toggle="tab">Комментарии 33</a></li>
				</ul>
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="articles">
				    	<div class="personal-material-list">
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane " id="books">...</div>
				    <div role="tabpanel" class="tab-pane " id="conversaions">
						<div class="discussion-list">
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html

							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
						</div>
						<div class="text-center showmore">
							<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
							<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">
							        	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="21"><path fill="currentColor" d="M10.5 21l2.5-2.6-8-8 8-7.8L10.5 0 0 10.5l3 3"/></svg>
							        </span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">
							        	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="21"><path fill="currentColor" d="M2.5 0L0 2.6l8 8-8 7.8L2.5 21 13 10.5l-3-3"/></svg>
							        </span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane " id="comments">
				    	<div class="personal-comment-list">
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
						</div>
						<div class="text-center showmore">
							<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
							<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">
							        	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="21"><path fill="currentColor" d="M10.5 21l2.5-2.6-8-8 8-7.8L10.5 0 0 10.5l3 3"/></svg>
							        </span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">
							        	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="21"><path fill="currentColor" d="M2.5 0L0 2.6l8 8-8 7.8L2.5 21 13 10.5l-3-3"/></svg>
							        </span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
				    </div>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>