<div class="container full">
	<div class="row">
		<div class="col-lg-8 col-xs-12">
			<div class="container page-body">
				<div class="person-info">
					<p>
						Мария Александровна Скрягина родилась 31 декабря 1977 года в городе Омске.<br><br>
						В 1999 закончила факультет «Теологии и мировых культур» ОмГУ, образование высшее, специальность – теолог. В последующем училась и работала в сфере информационной и просветительской деятельности в Москве, Минске, Омске, Нюрнберге. Живёт в Москве.<br><br>
						Публиковалась как прозаик и критик (журнал «Органон», «Дети Ра», газетах «НГ-exlibris», «Литературная Россия»; рецензия на роман Дениса Гуцко «Без пути-следа» опубликована в итальянском ежегодном академическом журнале «Intralinea» (2010)).<br><br>
						Лауреат омской областной премии имени Ф.М. Достоевского, конкурса Союза писателей России «Русская тема», дипломант Шестого литературного Волошинского конкурса.
					</p>
				</div>
			</div>
			<div class="container page-body">
				<ul class="tabList" role="tablist">
					<li class="active"><a href="#articles" role="tab" data-toggle="tab">Материалы 10</a></li>
					<li><a href="#books" role="tab" data-toggle="tab">Книги 5</a></li>
					<li><a href="#conversaions" role="tab" data-toggle="tab">Обсуждения 13</a></li>
					<li><a href="#comments" role="tab" data-toggle="tab">Комментарии 33</a></li>
				</ul>
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane fade in active" id="articles">
				    	<div class="personal-material-list">
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
							//= ../personal-page/personal-material.html
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="books">
					    <div class="personal-material-list">
					    	//= ../personal-page/personal-book.html
					    	//= ../personal-page/personal-book.html
					    	//= ../personal-page/personal-book.html
					    	//= ../personal-page/personal-book.html
					    </div>
				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="conversaions">
						<div class="discussion-list">
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html

							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
							//= ../personal-page/personal-item.html
						</div>
						//= ../pagination.html
				    </div>
				    <div role="tabpanel" class="tab-pane " id="comments">
				    	<div class="personal-comment-list">
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
							//= ../personal-page/personal-comment-item.html
						</div>
						//= ../pagination.html
				    </div>
				</div>				
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>