<div class="container form-wrapper">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="field-photo">
				<a href="#" class="js-removePhoto"><i class="icon-prointellekt icon-close"></i></a>
				<img src="https://api.fnkr.net/testimg/220x220/00CED1/FFF/?text=img+placeholder">
				<a href="#" class="js-changePhoto">изменить фото</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="row">
						<div class="col-xs-12 col-md-6">
						    <p class="title text-center">
						      	ИМЯ И ФАМИЛИЯ
						    </p>
				            <div class="field-wrapper">
				                <input class="field" type="text" name="name" placeholder="Имя">
				            </div>
						</div>
						<div class="col-xs-12 col-md-6">
							<p class="title text-center">
						      	ГОРОД
						    </p>
				            <div class="field-wrapper">
				                <select name="" id="">
				                	<option data-display="Select">Москва</option>
				                	<option >Новосибирск</option>
				                	<option >Питер</option>
				                	<option >Прага</option>
				                </select>
				            </div>
						</div>
						<div class="col-xs-12 col-md-6">
							<p class="title text-center">
						      	Сайт
						    </p>
				            <div class="field-wrapper field-site">
				                <input class="field" type="text" name="name" placeholder="Сайт">
				            </div>
						</div>
						<div class="col-xs-12 col-md-6">
							<p class="title text-center">
						      	Facebook
						    </p>
				            <div class="field-wrapper field-facebook">
				                <input class="field" type="text" name="name" placeholder="Facebook">
				            </div>
						</div>
						<div class="col-xs-12 col-md-6">
							<p class="title text-center">
						      	Вконтакте
						    </p>
				            <div class="field-wrapper field-vkontakte">
				                <input class="field" type="text" name="name" placeholder="Вконтакте">
				            </div>
						</div>
						<div class="col-xs-12 col-md-6">
							<p class="title text-center">
						      	Twitter
						    </p>
				            <div class="field-wrapper field-twitter">
				                <input class="field" type="text" name="name" placeholder="Twitter">
				            </div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12">
							<p class="title text-center">
						      	ЭЛЕКТРОННАЯ ПОЧТА
						    </p>
				            <div class="field-wrapper">
				                <input class="field" type="text" name="name" placeholder="Имя">
				            </div>
						</div>
						<div class="col-xs-12">
							<p class="title text-center">
						      	ПОМЕНЯТЬ ПАРОЛЬ
						    </p>
				            <div class="field-wrapper">
				                <input class="field" type="text" name="name" placeholder="Имя">
				            </div>
						</div>
						<div class="col-xs-12">
							<p>Социальные сети</p>
							<p>Нажмите на соответствующую иконку соц. сети, чтобы связать ее с вашим аккаунтом</p>
							<div class="social">
								<a href="https://vk.com" target="_blank"><i class="icon-prointellekt icon-vk-footer"></i></a>
								<a href="https://facebook.com" target="_blank"><i class="icon-prointellekt icon-fb-footer"></i></a>
								<a href="https://twitter.com" target="_blank"><i class="icon-prointellekt icon-twitter-footer"></i></a>
							</div>
						</div>
						<div class="col-xs-12">
							<a href="#" class="btn-readmore">СОХРАНИТЬ</a>
							<a href="#" class="btn-readmore btn-cancel">Отмена</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>