<div class="opinion-block">
	<div class="info">
		<p class="opinion-name">АЛЕКСАНДР ПОТЁМКИН</p>
		<p class="opinion-title">Круто быть актёром, за чей Оскар так радуются настолько много людей</p>
		<p class="opinion-content">Круто быть актёром, за чей Оскар так радуются настолько много людей</p>
		<p class="opinion-date">СЕГОДНЯ В 21:15 <i class="fa fa-comment-o"></i> 13</p>
		<div class="social-likes social-likes_notext" data-url="http://landscapists.info/" data-zeroes='yes' data-counters="yes">
			<div class="vkontakte" title="Поделиться ссылкой во Вконтакте"></div>
			<div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
			<div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
		</div>
	</div>
</div>