<div class="container full">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-8">
			<div class="container opinionList-body">
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				<div class="text-center showmore">
					<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
					<nav>
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>