<div class="opinion-block">
	<div class="info">
		<p class="opinion-name">АЛЕКСАНДР ПОТЁМКИН</p>
		<p class="opinion-title">Круто быть актёром, за чей Оскар так радуются настолько много людей</p>
		<p class="opinion-content">Круто быть актёром, за чей Оскар так радуются настолько много людей</p>
		<p class="opinion-date">СЕГОДНЯ В 21:15 <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg"><title>Combined Shape Copy 14</title><path d="M0 0h15v10H0V0zm3 10h4l-4 3v-3z" fill="#949494" fill-rule="evenodd"/></svg> 13</p>
		<div class="social-likes social-likes_notext" data-url="http://landscapists.info/" data-zeroes='yes' data-counters="yes">
			<div class="vkontakte" title="Поделиться ссылкой во Вконтакте"></div>
			<div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
			<div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
		</div>
	</div>
</div>