<div class="container full">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-8">
			<div class="container opinion-body">
				<div class="opinion">
					<h2 class="title">
						Игра для одного: как научиться управлять собой в кризисной ситуации
					</h2>
					<p>
						Я и большая часть моего окружения являемся продуктом советской эпохи: мы все ощущали себя вписанными в систему, данную нам государством, видели перед собой четкий карьерный трек и хотели состояться в нем как в профессиональном, так и в личностном плане. Внутри нас было искреннее убеждение, что если все делать правильно, если отдаваться выбранной стезе полностью, то должность, чин, статус станут отражением нашей успешности и будут приятными и заслуженными призами. Карьера была нашим жизненным скелетом, без которого мы чувствовали себя потерянными и ненужными.
						Не так давно мне исполнилось пятьдесят. И я понял для себя, что живу в дивном новом мире, который совсем не похож на то, что я представлял себе в двадцать пять. Это мир, где наш карьерный путь уже не является нитью Ариадны, которая ведет тебя по жизни. Здесь все решает твоя личная ответственность за принятые решения, внутренняя свобода, готовность меняться и осваивать новые направления. 
					</p>
				</div>
				<div class="social-likes social-likes_notext" data-url="http://landscapists.info/" data-zeroes='yes' data-counters="yes">
					<div class="vkontakte" title="Поделиться ссылкой во Вконтакте"></div>
					<div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
					<div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
				</div>
				<div class="section-tag-list">
					<div class="tag-item">РАЗУМ</div>
					<div class="tag-item">СОЗНАНИЕ</div>
					<div class="tag-item">МЕНТАЛИТЕТ</div>
					<div class="tag-item">ИНТЕЛЛЕКТУАЛЬНАЯ ЛИТЕРАТУРА</div>
					<div class="tag-item">АНТРОПОЛОГИЧЕСКИЙ КРИЗИС</div>
					<div class="tag-item">СВЕРХЧЕЛОВЕК</div>
				</div>

				<div class="section-comment-list">
					<div class="title-section">Комментарии</div>
					<div class="comment-block">
						<div class="comment">
							<div class="img-wrapper">
								<img src="https://api.fnkr.net/testimg/70x70/1d1d1d/fff/?text=Photo">
							</div>
							<div class="comment-body">
								<p class="comment-name">
									Elena
								</p>
								<p class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
								</p>
								<p class="comment-date">
									СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
								</p>
							</div>
						</div>
						<div class="comment-block">
							<div class="comment">
								<div class="img-wrapper">
									<img src="https://api.fnkr.net/testimg/70x70/1d1d1d/fff/?text=Photo">
								</div>
								<div class="comment-body">
									<p class="comment-name">
										Elena <span class="replyTo"><i class="fa fa-external-link"></i> Алексей</span>
									</p>
									<p class="comment-content">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
									</p>
									<p class="comment-date">
										СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
									</p>
								</div>
							</div>
						</div>
						<div class="comment-block">
						<div class="comment">
							<div class="img-wrapper">
								<img src="https://api.fnkr.net/testimg/70x70/1d1d1d/fff/?text=Photo">
							</div>
							<div class="comment-body">
								<p class="comment-name">
									Elena <span class="replyTo"><i class="fa fa-external-link"></i> Алексей</span>
								</p>
								<p class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
								</p>
								<p class="comment-date">
									СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
								</p>
							</div>
						</div>
					</div>
					</div>
					<div class="comment-block">
						<div class="comment">
							<div class="img-wrapper">
								<img src="https://api.fnkr.net/testimg/70x70/1d1d1d/fff/?text=Photo">
							</div>
							<div class="comment-body">
								<p class="comment-name">
									Elena
								</p>
								<p class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
								</p>
								<p class="comment-date">
									СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
								</p>
							</div>
						</div>
					</div>
					<div class="reply-block">
						<p class="reply">
							<a href="#" class="btn-readmore">АВТОРИЗУЙТЕСЬ</a> <span>чтобы оставлять комментарии</span>
						</p>
					</div>
					<div class="wysiwyg-block">
						<div class="wysiwyg">
							<textarea class="js-cleditor"></textarea>
						</div>
						<a href="#" class="btn-readmore">Комментировать</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>