<div class="container full">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-8">
			<div class="container opinionList-body">
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= opinionItem-full.html
				//= ../pagination.html
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="container-fluid full-sm rightSiteBar">
				//= ../rightSiteBar.html
			</div>
		</div>
	</div>
</div>