<div class="section-comment-list">
	<div class="title-section comment-title">Комментарии</div>
	<div class="comment-block">
		<div class="comment">
			<a href="#" class="img-wrapper">
				<img src="/img/02.png">
			</a>
			<div class="comment-body">
				<p class="comment-name">
					Elena
				</p>
				<p class="comment-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
				</p>
				<p class="comment-date">
					СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
				</p>
			</div>
		</div>
	</div>
	<div class="comment-block comment-reply">
		<div class="comment">
			<a href="#" class="img-wrapper">
				<img src="/img/01.png">
			</a>
			<div class="comment-body">
				<p class="comment-name">
					Elena <span class="replyTo"><i class="icon-prointellekt icon-reply-comment"></i> Алексей</span>
				</p>
				<p class="comment-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
				</p>
				<p class="comment-date">
					СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
				</p>
			</div>
		</div>
	</div>
	<div class="comment-block comment-reply">
		<div class="comment">
			<a href="#" class="img-wrapper">
				<img src="/img/03.png">
			</a>
			<div class="comment-body">
				<p class="comment-name">
					Elena <a href="#" class="replyTo"><i class="icon-prointellekt icon-reply-comment"></i> Алексей</a>
				</p>
				<p class="comment-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
				</p>
				<p class="comment-date">
					СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
				</p>
			</div>
		</div>
	</div>
	<div class="comment-block">
		<div class="comment">
			<a href="#" class="img-wrapper">
				<img src="/img/04.png">
			</a>
			<div class="comment-body">
				<p class="comment-name">
					Elena
				</p>
				<p class="comment-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit omnis dolores corrupti voluptas modi maxime consectetur incidunt! Odit, omnis.
				</p>
				<p class="comment-date">
					СЕГОДНЯ В 21:15 <a href="#" class="href">ОТВЕТИТЬ</a>
				</p>
			</div>
		</div>
	</div>
	<div class="reply-block">
		<p class="reply">
			<a href="#" class="btn-readmore js-auth">АВТОРИЗУЙТЕСЬ</a> <span>чтобы оставлять комментарии</span>
		</p>
	</div>
	<div class="wysiwyg-block hide">
		<div class="wysiwyg">
			<textarea class="js-wysiwyg-textarea"></textarea>
		</div>
		<a href="#" class="btn-readmore">Комментировать</a>
	</div>
</div>