<div class="comment-block">
	<div class="comment">
		<div class="img-wrapper">
			<img src="https://api.fnkr.net/testimg/70x70/ffffff/333/?text=Photo">
		</div>
		<div class="comment-body">
			<a href="#" class="comment-name">елена</a>
			<a href="#" class="comment-content">Поговорим о смысле говорим о смыслеговорим о смысле бытия им о смысле бытия</a>
			<p class="comment-date">СЕГОДНЯ В 21:15 <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg"><title>Combined Shape Copy 14</title><path d="M0 0h15v10H0V0zm3 10h4l-4 3v-3z" fill="#949494" fill-rule="evenodd"/></svg> 13</p>
		</div>
	</div>
</div>