<div class="social-likes">
	<a href="#" class="vkontakte social-net" title="Поделиться ссылкой во Вконтакте">
		<i class="icon-prointellekt icon-vk-counter"></i>
		<span class="count-share">12</span>
	</a>
	<a href="#" class="facebook social-net" title="Поделиться ссылкой на Фейсбуке">
		<i class="icon-prointellekt icon-fb-counter"></i>
		<span class="count-share">12</span>
	</a>
	<a href="#" class="twitter social-net" title="Поделиться ссылкой в Твиттере">
		<i class="icon-prointellekt icon-twitter-counter"></i>
		<span class="count-share">12</span>
	</a>
</div>