<div class="container full-sm">
	<div class="conversation-wrapper">
		<div class="row">
			<div class="col-lg-8 col-xs-12">
				<div class="title-section">
					<a class="btn-hover btn-opinion" href="#">Обсуждения</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-xs-12">
				<div class="conversation-block">
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
						<div class="col-sm-6 col-xs-12">
							//= comment.html
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="decorate-block">
					<div class="bg-wrapper" style="background: url('img/painting1.png') no-repeat;">
					</div>
					<div class="info">
						<div class="article">
							<p class='title'>РЕНЕ МАГРИТТ: СЫН ЧЕЛОВЕЧЕСКИЙ</p>
							<p class="description">1964, частная коллекция</p>
						</div>
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>