<footer class="footer">
	<div class="container">
		<div class="row links">
			<div class="col-sm-3 col-xs-12">
				<a href="#" class="brand btn-hover"><strong>PRO</strong>INTELLEKT</a>
			</div>
			<div class="col-sm-6 col-xs-12">
				<ul class="">
			        <li class="active"><a class="btn-hover" href="#">О проекте</a></li>
			        <li><a class="btn-hover" href="#contact">КНИГИ</a></li>
			        <li><a class="btn-hover" href="#">Контакты</a></li>
			    </ul>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div class="social">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12 copyright">
				<div class="">
					© 2016, ProIntellekt
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 support">
				<div class="text-right">
					Разработка и поддержка сайта <a href="#">Inteliour</a>
				</div>
			</div>
		</div>
	</div>
</footer>