<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="brand">PROINTELLEKT</a>
			</div>
			<div class="col-sm-7">
				<ul class="">
			        <li class="active"><a href="#">О проекте</a></li>
			        <li><a href="#about">ИДЕОЛОГ</a></li>
			        <li><a href="#contact">КНИГИ</a></li>
			        <li><a href="#">Контакты</a></li>
			    </ul>
			</div>
			<div class="col-sm-3">
				<div class="social">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="copyright">
					© 2016, ProIntellekt
				</div>
			</div>
			<div class="col-sm-6">
				<div class="support text-right">
					Разработка и поддержка сайта <a href="#">Inteliour</a>
				</div>
			</div>
		</div>
	</div>
</footer>