<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-prointellekt icon-menu"></i>
      </button>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a class="btn-hover search js-search" href="#">
            <i class="icon-prointellekt icon-question-user-notfound"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right submenu">
        <li><a class="btn-hover lang" href="#">eng</a></li>
        <li><a class="btn-hover login" href="#">войти</a></li>
      </ul>
      <a class="navbar-brand btn-hover" href="/"><strong>PRO</strong>INTELLEKT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <i class="icon-prointellekt icon-close"></i>
      </button>
      <ul class="nav navbar-nav">
        <li class="active"><a class="btn-hover" href="#">О проекте</a></li>
        <li><a class="btn-hover" href="#contact">КНИГИ</a></li>
        <li><a class="btn-hover" href="#">КУЛЬТУРА</a></li>
        <li><a class="btn-hover" href="#">НАУКА</a></li>
        <li><a class="btn-hover" href="#">ОБЩЕСТВО</a></li>
        <li><a class="btn-hover" href="#">ПСИХОЛОГИЯ</a></li>
        <li><a class="btn-hover" href="#">ФИЛОСОФИЯ</a></li>
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>
//= searchText-page/searchText-header.html