<div class="container full-sm">
	<div class="literature-wrapper">
		<div class="title-section">
			<a class="btn-hover btn-article" href="#">Обзор литературы</a>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-xs-12">
				//= articles/articleSmall-article-1.html
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				//= articles/articleSmall-article-2.html
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				//= articles/articleSmall-article-3.html
			</div>
		</div>
	</div>
</div>