<div class="container news-wrapper">
	<div class="title-section">
		<p class="">НОВОСТИ</p>
	</div>
	<div class="row">
		<div class="col-lg-4 col-sm-6">
			//= articles/articleSmall-1.html
		</div>
		<div class="col-lg-4 col-sm-6">
			//= articles/articleSmall-2.html
		</div>
		<div class="col-lg-4 col-sm-6">
			//= articles/articleSmall-3.html
		</div>
		<div class="col-lg-4 col-sm-6">
			<img class="article-adphoto" src="https://api.fnkr.net/testimg/420x420/eef2f5/1d1d1d/?text=Ads">
		</div>
		<div class="col-lg-4 col-sm-6">
			//= articles/articleSmall-4.html
		</div>
		<div class="col-lg-4 col-sm-6">
			//= articles/articleSmall-5.html
		</div>
	</div>
</div>