<div class="container full-sm">
	<div class="opinion-wrapper">
		<div class="row">
			<div class="col-lg-4 col-xs-12">
				<div class="title-section">
					<a class="btn-hover btn-opinion" href="#">Мнения</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-xs-12">
				<div class="opinionList-block">
					<div class="row">
						<div class="col-xs-12">
							//= opinion.html
							//= opinion.html
							//= opinion.html
							//= opinion.html
							//= opinion.html
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="decorate-block lg" style="">
					<div class="bg-wrapper" style="background: url('img/painting2.png') no-repeat;">
					</div>
					<div class="info">
						<div class="article">
							<p class='title'>РЕНЕ МАГРИТТ: ФИЛОСОФСКАЯ ЛАМПА</p>
							<p class="description">1936, Музей Рене Магритта, Брюссель</p>
						</div>
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>