<div class="text-center showmore">
	<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <i class="icon-prointellekt icon-arrow-left-pages"></i>
	      </a>
	    </li>
	    <li class="active"><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <i class="icon-prointellekt icon-arrow-right-pages"></i>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>