<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-12">
		<img class="article-adphoto" src="https://api.fnkr.net/testimg/420x420/eef2f5/1d1d1d/?text=Ads">
	</div>
	<div class="col-xs-12">
		<div class="title-section">
			<p class="">Статьи</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-12">
		//= articles/articleSmall-article-1.html
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-12">
		//= articles/articleSmall-article-2.html
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-12">
		//= articles/articleSmall-article-3.html
	</div>
</div>