<img src="https://api.fnkr.net/testimg/420x420/eef2f5/1d1d1d/?text=Ads">
<div class="article-small" href="#">
	<div class="bg-wrapper">
		<div class="bg-cover">
			<div class="bg"></div>
		</div>
	</div>
	<div class="info">
		<div class="article">
			<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
		</div>
		<p class="author">13 МАЯ В 14:55 13</p>
		<a href="#" class="btn-readmore">
			ЧИТАТЬ СТАТЬЮ
		</a>
	</div>
</div>
<div class="article-small" href="#">
	<div class="bg-wrapper">
		<div class="bg-cover">
			<div class="bg"></div>
		</div>
	</div>
	<div class="info">
		<div class="article">
			<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
		</div>
		<p class="author">13 МАЯ В 14:55 13</p>
		<a href="#" class="btn-readmore">
			ЧИТАТЬ СТАТЬЮ
		</a>
	</div>
</div>
<div class="article-small" href="#">
	<div class="bg-wrapper">
		<div class="bg-cover">
			<div class="bg"></div>
		</div>
	</div>
	<div class="info">
		<div class="article">
			<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
		</div>
		<p class="author">13 МАЯ В 14:55 13</p>
		<a href="#" class="btn-readmore">
			ЧИТАТЬ СТАТЬЮ
		</a>
	</div>
</div>