<div class="container full">
	<div class="article-middle articleFilter article-article" href="#">
		<div class="bg-block-wrapper">
			<div class="bg-wrapper" style="background: url('img/img5-color.png') no-repeat;">
				<div class="bg-cover">
					<div class="bg" style="background: url('img/img5-color.png') no-repeat;"></div>
				</div>
			</div>
			<img src="img/img5-b&w.png">
		</div>
		<div class="info-wrapper">
			<div class="info">
				<div class="article">
					<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
					<p class="description">Психолог Мария Скрягина о коэволюции генов и культуры, пластичности мозга и «теории риса»</p>
				</div>
				<a href="#" class="btn-readmore">
					ЧИТАТЬ СТАТЬЮ
				</a>
				<p class="author">АЛЕКСАНДР ПОТЁМКИН, 13 МАЯ В 14:55 <i class="fa fa-comment-o"></i> 13</p>
			</div>
		</div>
	</div>
</div>
