<div class="article-main">
	<div class="bg-wrapper" style="background: url('img/img-main-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img-main-color.png') no-repeat;"></div>
		</div>
	</div>

	<div class="container">
		<div class="info">
			<div class="article">
				<p class='title'>СОЛО МОНО.<br>ЗАПИСКИ ПОРАЖЕНЦА</p>
				<p class="description">Новый роман Александра Потёмкина</p>
				<p class="author">АЛЕКСАНДР ПОТЁМКИН, 13 МАЯ В 14:55 <i class="fa fa-comment-o"></i> 13</p>
			</div>
			<div class="bar"></div>
		</div>
	</div>
</div>
