<div class="container full">
	<a href="/article.html" class="article-middle articleFilter article-article" href="#">
		<div class="bg-block-wrapper">
			<div class="bg-wrapper" style="background: url('img/img4-color.png') no-repeat;">
				<div class="bg-cover">
					<div class="bg" style="background: url('img/img4-color.png') no-repeat;"></div>
				</div>
			</div>
			<img src="img/img4-b&w.png">
		</div>
		<div class="info-wrapper">
			<div class="info">
				<div class="article">
					<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТИСК УССТВЕННЫЙ ИНТЕЛЛЕКТИСК УССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
					<p class="description">Психолог Мария Скрягина о коэволюции генов и культуры, пластичности мозга и «теории риса» Психолог Мария Скрягина о коэволюции генов и культуры, пластичности мозга и «теории риса»
					</p>
				</div>
				<span class="btn-readmore">
					ЧИТАТЬ СТАТЬЮ
				</span>
				<p class="author">АЛЕКСАНДР ПОТЁМКИН, 13 МАЯ В 14:55 <i class="icon-prointellekt icon-comment"></i> 13</p>
			</div>
		</div>
	</a>
</div>
