<a href="/article.html" class="article-main articleFilter article-article">
	<div class="bg-wrapper" style="background: url('img/img-main-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img-main-color.png') no-repeat;"></div>
		</div>
	</div>
	<div class="container full-sm-nolimit">
		<div class="info">
			<div class="article">
				<p class='title'>СОЛО МОНО.<br>ЗАПИСКИ ПОРАЖЕНЦА</p>
				<p class="description">Новый роман Александра Потёмкина</p>
				<p class="author">АЛЕКСАНДР ПОТЁМКИН, 13 МАЯ В 14:55 <i class="icon-prointellekt icon-comment"></i> 13</p>
			</div>
		</div>
	</div>
</a>
