<div class="container full-sm">
	<div class="article-big">
		<div class="bg-wrapper" style="background: url('img/img1b-color.png') no-repeat;">
			<div class="bg-cover">
				<div class="bg" style="background: url('img/img1b-color.png') no-repeat;"></div>
			</div>
		</div>

		<div class="info">
			<div class="article">
				<p class='title'>«ИЗГОЙ» — МАНИФЕСТ НОВОГО СОСЛОВИЯ?</p>
				<p class="description">Что стоит за появлением романа Александра Потёмкина</p>
				<p class="author">АЛЕКСАНДР ПОТЁМКИН, 13 МАЯ В 14:55 <i class="fa fa-comment-o"></i> 13</p>
			</div>
			<div class="bar"></div>
		</div>
	</div>
</div>