<a href="/article.html" class="article-small article-article articleFilter">
	<div class="bg-wrapper" style="background: url('img/img3s-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img3s-color.png') no-repeat;"></div>
		</div>
	</div>
	<img src="img/img3s-b&w.png">
	<div class="info">
		<div class="article">
			<p class="title">Стартует чемпионат для старшеклассников по борьбе с киберугрозами для старшеклассников по борьбе с киберугрозами</p>
		</div>
		<p class="author">13 МАЯ В 14:55 <i class="icon-prointellekt icon-comment"></i> 13</p>
		<span class="btn-readmore">
			Читать статью
		</span>
	</div>
</a>