<div class="container full">
	<div class="article-middle right" href="#">
		<div class="bg-wrapper">
			<div class="bg-cover">
				<div class="bg"></div>
			</div>
		</div>
		<div class="info">
			<div class="article">
				<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
				<p class="description">Психолог Мария Скрягина о коэволюции генов и культуры, пластичности мозга и «теории риса»</p>
			</div>
			<a href="#" class="btn-readmore">
				ЧИТАТЬ СТАТЬЮ
			</a>
			<p class="author">МАРИЯ ФАЛИКМАН, 13 МАЯ В 14:55 13</p>
		</div>
	</div>
</div>