<div class="article-small article-news articleFilter" href="#">
	<div class="bg-wrapper" style="background: url('img/img4s-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img4s-color.png') no-repeat;"></div>
		</div>
	</div>
	<img src="img/img4s-b&w.png">
	<div class="info">
		<div class="article">
			<p class="title">Книги об искусстве в свободном доступе</p>
		</div>
		<p class="author">13 МАЯ В 14:55 <i class="fa fa-comment-o"></i> 13</p>
		<a href="#" class="btn-readmore">
			Читать новость
		</a>
	</div>
</div>