<div class="article-small article-review articleFilter" href="#">
	<div class="bg-wrapper" style="background: url('img/img1s-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img1s-color.png') no-repeat;"></div>
		</div>
	</div>
	<img src="img/img1s-b&w.png">
	<div class="info">
		<div class="article">
			<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
		</div>
		<p class="author">13 МАЯ В 14:55 <i class="fa fa-comment-o"></i> 13</p>
		<a href="#" class="btn-readmore">
			ЧИТАТЬ РЕЦЕНЗИЮ
		</a>
	</div>
</div>