<div class="container full">
	<a href="/article.html" class="article-middle right articleFilter article-article">
		<div class="bg-block-wrapper">
			<div class="bg-wrapper" style="background: url('img/img1-color.png') no-repeat;">
				<div class="bg-cover">
					<div class="bg" style="background: url('img/img1-color.png') no-repeat;"></div>
				</div>
			</div>
			<img src="img/img1-b&w.png">
		</div>
		<div class="info-wrapper">
			<div class="info">
				<div class="article">
					<p class="title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</p>
					<p class="description">Психолог Мария Скрягина о коэволюции генов и культуры, пластичности мозга и «теории риса»</p>
				</div>
				<span class="btn-readmore">
					ЧИТАТЬ СТАТЬЮ
				</span>
				<p class="author">АЛЕКСАНДР ПОТЁМКИН, 13 МАЯ В 14:55 <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h15v10H0V0zm3 10h4l-4 3v-3z" fill="currentColor"/></svg> 13</p>
			</div>
		</div>
	</a>
</div>
