<a href="/article.html" class="article-small article-news articleFilter">
	<div class="bg-wrapper" style="background: url('img/img4s-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img4s-color.png') no-repeat;"></div>
		</div>
	</div>
	<img src="img/img4s-b&w.png">
	<div class="info">
		<div class="article">
			<p class="title">Книги об искусстве в свободном доступе</p>
		</div>
		<p class="author">13 МАЯ В 14:55 <i class="icon-prointellekt icon-comment"></i> 13</p>
		<span class="btn-readmore">
			Читать новость
		</span>
	</div>
</a>