<div class="article-small article-article articleFilter" href="#">
	<div class="bg-wrapper" style="background: url('img/img1s-color.png') no-repeat;">
		<div class="bg-cover">
			<div class="bg" style="background: url('img/img1s-color.png') no-repeat;"></div>
		</div>
	</div>
	<img src="img/img1s-b&w.png">
	<div class="info">
		<div class="article">
			<p class="title">Книги об искусстве в свободном доступе</p>
		</div>
		<p class="author">13 МАЯ В 14:55 <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg"><title>Combined Shape Copy 14</title><path d="M0 0h15v10H0V0zm3 10h4l-4 3v-3z" fill="#949494" fill-rule="evenodd"/></svg> 13</p>
		<a href="#" class="btn-readmore">
			Читать статью
		</a>
	</div>
</div>