.article-header{
	background: #a13a78;
	padding: 115px 0 15px 0;
	color: #fff;
	margin-bottom: 20px;
	.name{
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 15px;
		@media (min-width: $screen-sm-min) {

		}
		@media (min-width: $screen-md-min) {

		}
		@media (min-width: $screen-lg-min) {
			font-weight: 800;
			font-size: 36px;
			line-height: 44px;
		}
	}
	.description{
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 30px;
		@media (min-width: $screen-sm-min) {

		}
		@media (min-width: $screen-md-min) {

		}
		@media (min-width: $screen-lg-min) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	.author{
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 1px;
		margin : 0 0 10px 0;
	}
	
	svg,
	.fa{
		margin-left: 15px;
	}
}