.article-header{
	background: #a13a78;
	padding: 115px 0 15px 0;
	color: #fff;
	
	.name{
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 4px;
	}
	.description{
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	.author{
		font-size: 12px;
		line-height: 36px;
	}
}