@import "partials/app";

body{
	background: url("/img/img-registration-bg-color.png");
	text-align: center;
}

.logo-brand{
	display: inline-block;
	margin-top: 110px;
	font-size: 36px;
	line-height: 100px;
	color: #45bdc9;
	&:hover,
	&:focus{
		color: #45BDC9;
	}
}

.form-wrapper{
	width: 270px;
	margin: 100px auto 0;
	.auth_login_menu_links{
		li{
			width: 50%;
			float: left;
			a{
				font-size: 15px;
				line-height: 24px;
				display: block;
				color: #d8d8d8;
				&:hover,
				&:focus{
					color: #b4b5bb;
				}
			}
			&.active{
				a{
					color: #fff;
					border-bottom: 10px solid #45bdc9;
				}
			}
		}
	}

	.auth_login_menu_links{
		overflow: hidden;
	}
	
	p,
	form+a{
		font-size: 15px;
		line-height: 20px;
		color: #fff;
		text-align: center;
		margin: 10px 0 15px;
	}

	.field-wrapper{
		margin: 0 0 10px 0;
	}
	.field-wrapper .field{
		width: 100%;
		outline: none;
		border:none;
		padding: 15px 20px;
		background: #fff;
		font-size:15px;
		line-height: 20px;
		&::-webkit-input-placeholder {color:#1d1d1d;}
		&::-moz-placeholder          {color:#1d1d1d;}
		&:-moz-placeholder           {color:#1d1d1d;}
		&:-ms-input-placeholder      {color:#1d1d1d;}
		&:focus::-webkit-input-placeholder {color: transparent;}
		&:focus::-moz-placeholder          {color: transparent;}
		&:focus:-moz-placeholder           {color: transparent;}
		&:focus:-ms-input-placeholder      {color: transparent;}
	}
	.btn-readmore{
		width: 100%;
		margin-bottom: 5px;
	  	letter-spacing: 1.3px;
	  	margin : 0;
		&,
		&:hover,
		&:focus{
			color: #fff;
		}
	}

	label{
		cursor: pointer;
	}

	.social{
		text-align: center;
		display: block;
		overflow: hidden;
		a {
			display: inline-block;
			outline: none;
			opacity: 1;
			margin: 0 5px;
			color: rgba(147, 147, 147, 0.5);
			&:hover{
				color: #45bdc9;
			}
		}
		.icon-prointellekt{
			font-size: 50px;
		}
	}
}