/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "partials/bootstrap-custom";

/*
* Custom
*/
@import "partials/app";

@import "partials/articleMain";
@import "partials/articleMiddle";
@import "partials/articleSmall";
@import "partials/comment";
@import "partials/decorate-img";
@import "partials/footer";
@import "partials/opinion";

@font-face {
	font-family: Proxima;
	src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format("opentype");
}

@font-face {
	font-family: Brandon;
	src: url("../fonts/Brandon Grotesque (logo)/Brandon_reg.otf") format("opentype");
}