.author-book{
	padding: 10px;
	background: #eef2f5;
	overflow: hidden;
	margin-bottom: 30px;

	.book-info-block{
		overflow: hidden;
		
		.author-book-image{
			margin-right: 20px;
			margin-bottom: 5px;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 0px;
				float: left;
			}
			width: 165px;
			height: 240px;
		}

		.book-info{
			float: left;
			.author-book-title{
				font-size:24px;
				line-height: 30px;
				font-weight: bold;
				margin-bottom: 5px;
				color: #1d1d1d;
				&:hover,
				&:active{
					color: #45bdc9;
				}
			}

			.author-book-author,
			.author-book-publisher,
			.author-book-editor{
				margin: 0;
				font-size: 12px;
				line-height: 18px;
			}

			.additional{
				margin-top: 10px;
				.fa{
					margin-right : 5px;
					vertical-align: middle;
				}
				a{
					color: #2da1ad;
					display: inline-block;
					font-size: 12px;
					line-height: 15px;
					border-bottom: 1px dotted ;
					&:hover,
				    &:focus{
				    	color: #45BDC9;
				    }
				}
			}
		}

		.book-description{
			float: left;
			@media (min-width: $screen-sm-min) {
				float: right;
			}
			width: 310px;
			.author-book-description{
				font-size: 12px;
				line-height: 18px;
				@media (min-width: $screen-md-min) {
					line-height: 20px;
				}
				margin-bottom: 15px;
			}

			.author-book-details{
				font-weight: 600;
				font-size: 12px;
				line-height: 15px;
			    color: #2DA1AD;
			    &:hover,
			    &:focus{
			    	color: #45BDC9;
			    }
			}
			margin-bottom: 60px;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 15px;
			}

			@media (min-width: $screen-sm-min) {
				margin-bottom: 10px;
			}

			@media (min-width: $screen-sm-min) {

			}
		}
	}
	
	.shop-block-wrapper{
		
	}

	.shop-block{
		clear: both;
		background: #fff;
		position: relative;
		width: 100%;
		min-height: 130px;
		padding: 20px;
		margin-top: 10px;
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			margin-top: 50px;
		}
		.tabList{
			position: absolute;
			top: -41px;
			left: 0;
			@media (min-width: $screen-md-min) {
				left: 185px;
			}
			.tooltip{
				padding: 5px 0;
				margin-left: -4px;
				margin-top: 10px;
				opacity: 1;
				.tooltip-inner{
					background: #4f547f;
					border-radius: 0;
					white-space: nowrap;
					padding: 0 7px;
					font-size: 12px;
					line-height: 24px;
					letter-spacing: 0.5px;
				}
				.tooltip-arrow{
					border-top-color: #4f547f;
				    bottom: -2px;
				    margin-left: -4px;
				    border-width: 8px 8px 0;
				}
			}
			li.active{
				.tooltip{
					display: none !important;
				}
			}
			li{
				float: left;
				position: relative;
				display: inline-block;
				&.active a{
					background: #45bdc9;
					color: #fff;
				    &:after {
					    content: "";
					    width: 0;
					    bottom: -10px;
					    left: 0;
					    right: 0;
					    margin: auto;
					    height: 0;
					    position: absolute;
					    border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-top: 10px solid #45bdc9;
					}
				}
				a{
					color: #949494;
				    width: 40px;
				    display: inline-block;
				    text-align: center;
				    padding: 10px 0;
				}
			}
		}
		.tab-pane{
			p{
				margin: 0 0 10px 0;
				font-size: 15px;
				line-height: 30px;
			}
			.shop-list{
				a{
					display: inline-block;
					margin-right: 25px;
					margin-bottom: 10px;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}

	.book-info-block,
	.shop-block-wrapper{
		width: 100%;
		padding: 0 25px;
		@media (min-width: $screen-sm-min) {
			margin: 0 auto;
			width: 712px;
			padding: 0 15px;
		}
	}
}
