.form-wrapper {
	.label{
		font-weight: 600;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 15px;
		padding: 0;
		color: #1d1d1d;
		text-transform: uppercase;
		display: block;
		text-align: left;		
	}
	
	.field-wrapper{
		margin-bottom: 15px;
	}

	.input-wrapper{
		background: #eef2f5;
		padding: 10px;
	}

	input,
	textarea{
		width: 100%;
		padding: 10px 15px;
		border: none;
		outline: none;
	}

	.title input{
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
	}
}

.form-wrapper .wysiwyg-block .btn-readmore{
	width: unset;
	margin: 0;
}