.discussionNew-header{
	background: #a13a78;
	padding: 145px 0 80px 0;
	color: #fff;
	.name{
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 15px;
		@media (min-width: $screen-sm-min) {

		}
		@media (min-width: $screen-md-min) {

		}
		@media (min-width: $screen-lg-min) {
			font-weight: 800;
			font-size: 36px;
			line-height: 44px;
		}
	}
}