/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Proxima;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
	$brand-base:            #1d1d1d !default;

	$brand-article:         #a13a78 !default;
	$brand-news:            #37bca5 !default;
	$brand-review:          #4f547f !default;
	$brand-opinion:         #45bdc9 !default;
	//$brand-info:            #5bc0de !default;
/* Variables */

a{
	color: $brand-base;
	&:focus,
	&:hover{
		text-decoration: none;
		color: #2da1ad;
	}
}

strong{
	font-weight: bold;
}

.title-section{
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;

	margin-bottom: 15px;

	padding: 0 25px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		line-height: 29px;
		width: 680px;
		padding: 0;
	}
	@media (min-width: $screen-md-min) {
		width: 870px;
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
	}

	p{
		text-transform: uppercase;
	}
}

.adphoto{
	padding-bottom: 10px;
	@media(min-width: $screen-lg-min){
		display: block;
	}
}

.section-tag-list{
	overflow: hidden;
	.tag-item{
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 1px;
		color: #1d1d1d;
		margin-right: 10px;
		margin-bottom: 10px;
		float: left;
		padding: 5px 10px;
		background: rgba(54, 188, 164, 0.3);
		&.article-article{
			color: #fff;
			background: #a13a78;
		}
		&.article-news{
			color: #fff;
			background: #37bca5;
		}
		&.article-opinion{
			color: #fff;
			background: #45bdc9;
		}
	}
}

.btn-readmore{
	color: #fff;
	text-transform: uppercase;
	&,
	&:hover,
	&:focus{
		text-decoration: none;
	}
	font-size: 15px;
	line-height: 20px;
	padding : 20px 30px;
	display: inline-block;
	position: relative;
	-webkit-transition: .5s cubic-bezier(0.785,.135,.15,.86);
	transition: .5s cubic-bezier(0.785,.135,.15,.86);
	&:after{
		content : '';
	    width: 100%;
	    height: 100%;
	    bottom: 0;
	    background: $brand-opinion;
	    right: 0;
	    left: 0;
	    z-index: -1;
	    position: absolute;
	    will-change: height;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    -webkit-transition: height .5s cubic-bezier(0.785,.135,.15,.86);
	    transition: height .5s cubic-bezier(0.785,.135,.15,.86);
	}

	&.btn-article:after {
	    background: $brand-article;
	}

	&.btn-news:after{
	    background: $brand-news;
	}

	&.btn-review:after{
	    background: $brand-review;
	}

	&.btn-opinion:after{
	    background: $brand-opinion;
	}
	
	&:hover{
		color: $brand-base;
	}

	&:hover:after{
		height: 10px;
	}
}

a.btn-hover {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: $brand-base;
    &,
    &:hover,
    &:focus{
      background: none;
      text-decoration: none;
    }

    &:before,
    .active &:before{
      content: '';
      position: absolute;
      bottom: 0px;
      height: 10px;
      right: 12px;
      left: 12px;
      z-index: -1;
      background: $brand-article;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform cubic-bezier(0.785,.135,.15,.86) .4s;
      transition: -webkit-transform cubic-bezier(0.785,.135,.15,.86) .4s;
      transition: transform cubic-bezier(0.785,.135,.15,.86) .4s;
      transition: transform cubic-bezier(0.785,.135,.15,.86) .4s,-webkit-transform cubic-bezier(0.785,.135,.15,.86) .4s;
    }
    &:hover:before {
        -webkit-transition: -webkit-transform cubic-bezier(0.785,.135,.15,.86) .6s;
        transition: -webkit-transform cubic-bezier(0.785,.135,.15,.86) .6s;
        transition: transform cubic-bezier(0.785,.135,.15,.86) .6s;
        transition: transform cubic-bezier(0.785,.135,.15,.86) .6s,-webkit-transform cubic-bezier(0.785,.135,.15,.86) .6s;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    &.navbar-brand:before,
    &.brand:before{
      	background: rgba($brand-article, 0.7);
    }

	&.btn-article{
	    padding: 0px 3px;
		&:before {
			right: 0px;
      		left: 0px;
	    	background: $brand-article;
	    }
	}

	&.btn-news{
	    padding: 0px 3px;
		&:before {
			right: 0px;
      		left: 0px;
	    	background: $brand-news;
	    }
	}

	&.btn-review{
	    padding: 0px 3px;
		&:before {
			right: 0px;
      		left: 0px;
	    	background: $brand-review;
	    }
	}

	&.btn-opinion{
	    padding: 0px 3px;
		&:before {
			right: 0px;
      		left: 0px;
	    	background: $brand-opinion;
	    }
	}
}

@media (max-width: $screen-lg-min) {
	.container.full{
		width: 100%;
		padding: 0;
	}
}

.container{
	//padding: 0 25px;
	@media (min-width: $screen-md-min){
		padding: 0 15px;
	}
}

@media (max-width: $screen-sm-min){
	.container.full-sm{
		width: 100%;
		padding: 0;
	}
}

@media (max-width: $screen-md-min) {
	.container.full-sm{
	    width: 100%;
	    max-width: 870px;
		padding: 0;
		overflow: hidden;
		.title-section{
			@media (min-width: $screen-md-min) {
				width: 100%;
			}
		}
	}

	.container.full-sm-nolimit{
	    width: 100%;
		padding: 0;
		.title-section{
			@media (min-width: $screen-md-min) {
				width: 100%;
			}
		}
	}
}

body {
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
		padding: 0;
		@media (min-width: $screen-sm-min) {
			padding-left: 15px;
			padding-right: 15px;
		}

	}
	.container{
		padding-left: 25px;
		padding-right: 25px;
		@media (min-width: $screen-sm-min) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.row {
		margin-left: 0;
		margin-right: 0;
		@media (min-width: $screen-sm-min) {
		    margin-left: -15px;
		    margin-right: -15px;
		}
	}
}

#navbar .nav.navbar-nav.submenu{
	@media (min-width: $screen-lg-min) {
		float: right;
	}
	
	@media (max-width: $screen-sm-min) {
		li{
			overflow: hidden;
		}
	}
}

svg{
	vertical-align: middle;
}


.lang, .login{
	@media (max-width: $screen-sm-min) {
		display: none !important;
	}
}

.ad{
	text-align: center;
}