.article-big{
	margin-bottom: 105px;
	width: 100%;
	display: block;
	position: relative;
	cursor: pointer;
	img{
		width: 100%;
		height: 100%;
	}
	@media (min-width: $screen-sm-min) {
		margin-bottom: 120px;
		height: 480px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 90px;
		height: 480px;
	}

	@media (min-width: $screen-lg-min) {
		height: 730px;
	}

	&:hover{
		.bg-wrapper{
			.bg-cover{
				opacity: 0;
			}
		}
	}

	.bg-wrapper{
		width: 100%;
		height: 270px;
		position: absolute;

		@media (min-width: $screen-md-min) {
			height: 480px;
		}

		@media (min-width: $screen-lg-min) {
			height: 730px;
		}
	}

	.info{
		position:absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		width: 100%;
		.article{
			color: #fff;
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: -85px;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 3;
			padding: 10px 15px;
			@media (min-width: $screen-sm-min) {
				bottom: -40px;
				padding: 25px 15px;
			}
  			
			@media (min-width: $screen-md-min) {
				padding: 25px 15px;
				width: 740px;
			}

			&:after {
			    content: '';
			    width: 100%;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    height: 160px;
			    z-index: -1;
			}
			.title{
				@media (min-width: $screen-sm-min) {
					width: 682px;
				}
				@media (min-width: $screen-md-min) {
					width: 100%;
					margin-bottom: 15px;
				}
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 5px;
				text-transform: uppercase;
				font-weight: 800;
				margin-left: auto;
				margin-right: auto;
			}
			.description{
				@media (min-width: $screen-sm-min) {
					margin-bottom: 15px;
					width: 682px;
				}
				@media (min-width: $screen-md-min) {
					width: 100%;
				}
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 10px;
				margin-left: auto;
				margin-right: auto;
			}
			.author{
				@media (min-width: $screen-sm-min) {
					width: 682px;
				}

				@media (min-width: $screen-md-min) {
					width: 100%;
					margin-bottom : 0px;
				}

				letter-spacing: 1px;
				font-size: 12px;
				line-height: 15px;
				font-weight: 600;
				margin-left: auto;
				margin-right: auto;
			}
		}	
	}
}