.conversation-block{
	padding: 30px 25px;
	background: #eef2f5;
	@media (min-width: $screen-sm-min) {
		padding: 30px 45px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 30px;
	}
}

.comment-block{
	overflow: hidden;
	margin-bottom: 40px;
	.img-wrapper{
		float: left;
		margin-right: 20px;
	}
	.info{
		float: left;
		.comment-name{
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 1px;
			font-weight : bold;
		}
		.comment-title{
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 5px;
		}
		.comment-date{
			color: #949494;
			font-size: 12px;
			line-height: 2;
			letter-spacing: 1px;
		}
	}
}