.conversation-block{
	padding: 30px 0 0;
	background: #eef2f5;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 35px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 30px 0 30px;
	}

	// .row{
	// 	margin-bottom: 40px;
	// 	&:last-of-type{
	// 		margin-bottom: 0;
	// 	}
	// }

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		.col-sm-6:nth-of-type(2n+1){
			.comment-block{
				float: right;
				width: 325px;
			}
		}
		.col-sm-6:nth-of-type(2n){
			.comment-block{
				float: left;
				width: 325px;
			}
		}
	}
	
	.comment-block{
		@media (min-width: $screen-md-min) {
			padding: 0;
			padding-bottom: 0px;
			width: 420px;
			float: none;
		}
	}

	
}

.comment-block{
	padding: 0 25px;
	margin: 0px auto 30px;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 40px;
	    padding: 0;
	}

	.comment-block{
		margin-left:10%;
	}

	.img-wrapper{
		float: left;
		margin-right: 20px;
	}
	
	.comment-body{
		overflow: hidden;
        
	    @media (min-width: $screen-md-min) {
		    width: 200px;
		}
	    @media (min-width: $screen-md-min) {
		    width: 280px;
		}
	    @media (min-width: $screen-lg-min) {
		    width: 300px;
		}
		.comment-name{
			text-transform: uppercase;
			display: inline-block;
			font-size: 15px;
			line-height: 1;
			letter-spacing: 1px;
			font-weight : bold;
			margin-bottom: 3px;
		}
		.comment-content{
			display: inline-block;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 5px;
		}
		.comment-date{
			color: #949494;
			font-size: 12px;
			line-height: 1;
			letter-spacing: 1px;
		}
	}
}