.footer{
	padding: 15px 10px;
	background: #1d1d1d;
	color: #fff;
	margin-top: 70px;
	position: relative;
    z-index: 0;
    @media (max-width: $screen-sm-min) {
	    .col-xs-12{
	    	text-align: center;
	    	.support{
	    		text-align: center;
	    	}
	    }
	}
    .links{
    	a{
    		display: inline-block;
    	}
    }
	a,
	a:hover,
	a:focus{
		color: #fff;
		text-decoration: none;
	}
	.brand{
		padding: 0 15px;
    	margin: 10px -15px;
		display: block;
		font-size: 20px;
		line-height: 1.4;
    	font-family: Brandon;
	}
	ul{
		padding: 0;
		margin: 5px 0 0 0;
		li {
			@media (max-width: $screen-sm-min) {
				width:100%;
				text-align: center;
			}
			float: left;

			@media (min-width: $screen-sm-min) {
				padding: 10px 0px;
			}
		}
		a {
			padding: 0 15px;
			display: block;
			text-transform: uppercase;
		}
	}

	.copyright,
	.support{
		font-size: 12px;
		line-height: 2;
	}
}