.footer{
	padding: 15px 0px;
	background: #1d1d1d;
	color: #fff;
	position: relative;
    z-index: 0;

    @media (max-width: $screen-sm-min) {
	    .col-xs-12{
	    	text-align: center;
	    	.support{
	    		text-align: center;
	    	}
	    }
	}
    .links{
    	a{
    		display: inline-block;
    	}
    }
	a,
	a:hover,
	a:focus{
		color: #fff;
		text-decoration: none;
	}
	.brand{
		letter-spacing: 1.4px;
		padding: 0 15px;
    	margin: 10px -15px;
		display: block;
		font-size: 20px;
		line-height: 1.4;
    	font-family: Brandon;
	}
	ul{
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height: 24px;
		font-weight: bold;
		li {
			padding: 10px 0;			
			text-align: center;
			@media (min-width: $screen-sm-min) {
				display: inline-block;
				float: left;
			}
		}
		
		a {
			padding: 0 15px;
			display: block;
			text-transform: uppercase;
		}
	}

	.copyright{
		@media (max-width: $screen-sm-min) {
			float: right;
		}
	}
	.support{
		@media (max-width: $screen-sm-min) {
			.text-right {
				text-align: center;
			}
		}
	}

	.copyright,
	.support{
		font-size: 12px;
		line-height: 2;
	}
}