.main-navigation{
  .menu-checkbox {
    display: none;
  }
  
  .main-menu {
    display: none;
  }
  
  .main-menu li {
    font-size: 1em;
    display: block;
    width: 100%;
  }
  
  .main-menu a {
    display: block;
    border-bottom: 1px solid blueviolet;
    color: lightslategray;
    padding: .5em;
    text-decoration: none;
  }
  
  .main-menu a:hover {
    text-decoration: underline;
  }

  .toggle-button {
    text-align: center;
    display: block;
    /* не забываем явно указать каким должен быть курсор */
    cursor: pointer;
    background-color: #333;
    color: #fff;
  }

  .toggle-button:after {
    /* получаем данные из атрибута data-open в html */
    content: attr(data-open);
    display: block;
    margin: 10px 0;
    padding: 10px 30px;
  }

  .menu-checkbox:checked + nav[role="navigation"] .main-menu {
    /* когда чекбокс активен меню становится видимым */
    display: block;
  }

  .menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
    content: attr(data-close);
  }

 
}

 @media screen and (min-width: 640px) {
    .toggle-button {
      /* label скрыт */
      display: none;
    }
    .main-menu {
      display: block;
      margin: 0 auto;
      background-color: #333;
      height: 30px;
    }
    .main-menu li {
      /* теги <li> расположены в ряд */
      width: calc(100% / 5);
      text-align: center;
      display: inline-block;
      margin-right: -4px;
    }
    .main-menu a {
      display: inline-block;
      margin-right: -4px;
      font-size: .8em;
      background-color: #333;
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
      border-bottom: 0;
    }
  }