.literature-wrapper{
	margin-top: 10px;
	margin-bottom: 5px;
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		margin-top: 30px;
		margin-bottom: 0;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: 0px;
		margin-bottom: 5px;
	}
}

.news-wrapper{
	margin-bottom: 15px;
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		margin-bottom: 60px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.conversation-wrapper{
	margin-bottom: 35px;
	@media (min-width: $screen-sm-min) {
		margin-top: 40px;
		margin-bottom: 5px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 5px;
		margin-bottom: 0px;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: 40px;
		margin-bottom: 30px;
	}
}

.conversation-block{
	padding: 30px 0 0;
	background: #eef2f5;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 35px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 30px 0 30px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		.col-sm-6:nth-of-type(2n+1){
			.comment-block{
				float: right;
				width: 325px;
			}
		}
		.col-sm-6:nth-of-type(2n){
			.comment-block{
				float: left;
				width: 325px;
			}
		}
	}
	
	.comment-block{
		@media (min-width: $screen-md-min) {
			padding: 0;
			padding-bottom: 0px;
			width: 420px;
			float: none;
		}
	}	
}

.opinion-wrapper{
	margin-bottom: 35px;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 25px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: 0px;
		margin-bottom: 70px;
	}
}