.opinionList-block{
	background: #eef2f5;
	padding: 30px 25px;
	@media (min-width: $screen-sm-min) {
		padding: 30px 20px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 60px 30px 20px;
	}

	@media (min-width: $screen-lg-min) {
		padding: 25px 20px;
	}
	.opinion-block{
		overflow: hidden;
		margin-bottom: 15px;
		.info{
			overflow: hidden;
		}
		@media (max-width: $screen-sm-min) {
			width: 100%;
			padding: 0 20px;
			margin-left: auto;
			margin-right: auto;
		}
		&:before{
			content : '“';
			color: #45bdc9;
			font-size: 72px;
			width: 45px;
			margin-right: 5px;
			float: left;
		}
		.info{
			.opinion-name{
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 1px;
				font-weight : bold;
				display: block;
			}
			.opinion-title{
				font-size: 15px;
				line-height: 1.33;
				margin-bottom: 5px;
			}
			.opinion-date{
				color: #949494;
				font-size: 12px;
				line-height: 2;
				letter-spacing: 1px;
			}
		}
	}
}
