.opinionList-block{
	padding: 30px 30px 30px 20px;
	background: #eef2f5;
	@media (min-width: $screen-sm-min) {
		padding: 30px 20px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 60px 30px 20px;
	}

	@media (min-width: $screen-lg-min) {
		padding: 25px 20px;
	}

	.opinion-block{
		overflow: hidden;
		margin-bottom: 15px;
		&:before{
			content : '“';
			color: #45bdc9;
			font-size: 72px;
			width: 45px;
			margin-right: 5px;
			float: left;
		}
		.info{
			.name{
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 1px;
				font-weight : bold;
			}
			.title{
				font-size: 15px;
				line-height: 1.33;
				margin-bottom: 5px;
			}
			.date{
				color: #949494;
				font-size: 12px;
				line-height: 2;
				letter-spacing: 1px;
			}
		}
	}
}