<div class="container full-sm searchTag-body">
	<p class="title-section">Статьи по теме <span class="section-name">«Культура»</span></p>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			//= ../articles/articleSmall-article-1.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-1.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			//= ../articles/articleSmall-article-2.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-2.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			<img class="adphoto" src="https://api.fnkr.net/testimg/420x420/eef2f5/1d1d1d/?text=Ads">
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-3.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			//= ../articles/articleSmall-article-3.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-review.html
		</div>
	</div>
	//= ../pagination.html
</div>