<div class="container full-sm searchTag-body">
	<p class="title-section">Статьи по теме <strong>«Культура»</strong></p>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			//= ../articles/articleSmall-article-1.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-1.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			//= ../articles/articleSmall-article-2.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-2.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			<img class="adphoto" src="https://api.fnkr.net/testimg/420x420/eef2f5/1d1d1d/?text=Ads">
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-3.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 odd-wrapper">
			//= ../articles/articleSmall-article-3.html
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 even-wrapper">
			//= ../articles/articleSmall-review.html
		</div>
	</div>
	<div class="text-center showmore">
		<a href="#" class="btn-readmore">ПОКАЗАТЬ ЕЩЁ</a>
		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>