.opinionList-body{
	padding-top:20px;
	.opinion-block{
		.info{
			overflow: hidden;
			.opinion-title{
				font-size: 18px;
				line-height: 24px;
				margin: 5px 0;
				font-weight: bold;
			}
			.opinion-content{
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
	.opinion-block{
		overflow: hidden;
		margin-bottom: 15px;
		&:before{
			content : '“';
			color: #45bdc9;
			font-size: 72px;
			width: 45px;
			margin-right: 5px;
			float: left;
		}
		.info{
			.opinion-name{
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 1px;
				font-weight : bold;
			}
			.opinion-title{
				font-size: 15px;
				line-height: 1.33;
				margin-bottom: 5px;
				color: #1d1d1d;
				&:focus,
				&:hover{
					text-decoration: none;
					color: #2da1ad;
				}
			}
			.opinion-date{
				color: #949494;
				font-size: 12px;
				line-height: 2;
				letter-spacing: 1px;
			}
		}
	}
}