.opinion-header{
	background: #45bdc9;
	padding: 135px 0 15px 0;
	text-transform : uppercase;
	color: #fff;
	.opinion-block{
		&:before{
			content : '“';
			font-size: 72px;
			line-height: 42px;
			margin-right: 5px;
		    font-weight: 900;
		    letter-spacing: 6px;
			float: left;
		    width: 100%;
		    @media (min-width: $screen-sm-min) {
			    width: 45px;
			}
		}
		.info{
			.opinion-name{
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 30px;
				font-weight: 800;
				@media (min-width: $screen-sm-min) {

				}
				@media (min-width: $screen-md-min) {

				}
				@media (min-width: $screen-lg-min) {
					font-size: 36px;
					line-height: 44px;
				}
			}
			.opinion-date{
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 1px;
				margin: 0 0 10px 0;
				font-weight: 600;
			}
		}
	}
	svg,
	.fa{
		margin-left: 15px;
	}
}
