.searchText-header{
	background: rgba(54, 188, 164, 0.3);
	padding: 90px 0 15px 0;
	text-transform : uppercase;
	color: #1d1d1d;
	margin-bottom: 30px;
	.fa{
		margin-right: 25px;
		width: 25px;
	}
	.search-text{
		margin:0;
		font-weight: bold;
		font-size: 24px;
		line-height: 36px;
	}
}