.common-header.personal-header{
	padding: 110px 0 20px 0;
	@media (min-width: $screen-sm-min) {
		padding: 90px 0 20px 0;
	}
	@media (min-width: $screen-md-min) {
		padding: 70px 0 0px 0;
	}

	.img-wrapper{
		float: left;
		margin-right: 20px;
		@media(max-width: $screen-sm-min){
			width: 70px;
			height: 70px;
		}
		@media(max-width: $screen-sm-min){
			width: 70px;
			height: 70px;
		}
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}

	.info{
		padding: 0;
		@media(min-width: $screen-sm-min){
			padding: 55px 0 0px;
		}
		@media(min-width: $screen-md-min){
			padding: 55px 0 0px;
		}
		@media(min-width: $screen-lg-min){
			
		}
	}

	.name{
		margin: 0 0 5px 0;
		line-height: 36px;
	}

	.person-info{
		font-size: 15px;
		line-height: 24px;
		margin: 0 0 30px 0;
	}

	.author{
		margin: 0;
		overflow:hidden;
		line-height: 15px;
		a{
			display: inline-block;
			float: left;
			margin-right: 20px;
			margin-bottom: 15px;
			
			color: #949494;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}